<div class="container">
<div class="row">
    <div class="col">
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">News</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">Social Media</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">Tab 3</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active" role="tabpanel">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center align-items-center col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                            <div class="card d-flex"><a href="#"><img class="img-fluid news-logo" src="thehill.png" style="/*max-width: 13rem;*//*min-width: 13rem;*/" /></a>
                                <div class="card-body"><a class="card-link" href="#">
                                        <h6 class="text-muted d-flex justify-content-center mb-2">The Hill</h6>
                                    </a></div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center align-items-center col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                            <div class="card d-flex"><a href="#"><img class="img-fluid news-logo" src="huffpo.png" /></a>
                                <div class="card-body"><a class="card-link" href="#">
                                        <h6 class="text-muted d-flex justify-content-center mb-2">Huffington Post</h6>
                                    </a></div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center align-items-center col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                            <div class="card d-flex"><a href="#"><img class="img-fluid news-logo" src="nyt.png" /></a>
                                <div class="card-body"><a class="card-link" href="#">
                                        <h6 class="text-muted d-flex justify-content-center mb-2">New York Times</h6>
                                    </a></div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center align-items-center col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                            <div class="card d-flex"><a href="#"><img class="img-fluid news-logo" src="politico.png" /></a>
                                <div class="card-body"><a class="card-link" href="#">
                                        <h6 class="text-muted d-flex justify-content-center mb-2">Politico</h6>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane" role="tabpanel">
                    <p>Content for tab 2.</p>
                </div>
                <div id="tab-3" class="tab-pane" role="tabpanel">
                    <p>Content for tab 3.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>